* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#navbar-area {
    background-color: #F4F4F4;

    .container {
        .logo {
            margin-left: 20px;
            margin-right: 40px;
        }

        .nav-center {
            li {
                margin-left: 20px;
                font-size: 22px;

                a {
                    color: #171700;

                    &:hover {
                        color: #65A3F2 !important;
                    }
                }
            }
        }

        .search-icon {
            position: relative;
            display: flex;
            align-items: center;

            input {
                width: 180px;
                height: 37px;
                right: 0;
                outline: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #010A44;
                position: absolute;
                padding-left: 10px;
                background-color: #F4F4F4;
                right: 12px;
            }

            a {
                position: absolute;
                right: 30px;
                color: black;

                &:hover {
                    color: #65A3F2 !important;
                    cursor: pointer;
                }
            }
        }


        .basket {
            cursor: pointer;

            i {
                font-size: 25px;
                color: #65A3F2;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                }

                sup {
                    background-color: #F93A35;
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .heart {
            margin-left: 5px;

            i {
                font-size: 25px;
                color: #65A3F2;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                }

                sup {
                    background-color: #F93A35;
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    margin-left: 5%;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                .dropdown-content {
                    display: block;

                }
            }

            .dropbtn {
                color: rgb(84, 85, 93);
                padding: 10px;
                font-size: 15px;
                height: 39px;
                border: none;
                cursor: pointer;
                border-bottom: 2px solid #65A3F2;
                background-color: #F4F4F4;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #F4F4F4;
                min-width: 100px;
                border-radius: 7px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;

                a {
                    color: black;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #65A3F2;
                    }
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    #navbar-area {

        .search-icon {
            input {
                width: 100px !important;
            }

            i {
                font-size: small;
                margin-right: -10px;
            }
        }

        .logo {
            margin-right: 0 !important;
        }
    }

}

@media (max-width: 992px) {
    #navbar-area {

        .search-icon {
            float: left;
            margin-left: 120px;

            input {
                width: 100px !important;
            }
        }
        .dropdown {
            margin-top: 0px !important;
        }

        .basket {
            margin-top: 4px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left:  0 !important;
            }
        }
    }

}


@media (max-width: 768px) {
    #navbar-area {

        .search-icon {
            float: left;
            margin-left: 120px;

            input {
                width: 100px !important;
            }
        }


        .dropdown {
            margin-left: 10px!important;
            margin-top: 20px !important;
        }

        .basket {
            margin-top: 4px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left:  0 !important;
            }
        }
    }

}


.visibl {
    visibility: hidden;
}

#scrol-navbar-area {
    background-color: #F4F4F4;
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: .7s;



    .container {
        .scrol-logo {
            margin-left: 20px;
            margin-right: 40px;
        }

        .nav-center {
            li {
                margin-left: 20px;
                font-size: 22px;

                a {
                    color: #171700;

                    &:hover {
                        color: #65A3F2 !important;
                    }
                }
            }
        }

        .search-icon {
            position: relative;
            display: flex;
            align-items: center;

            input {
                width: 180px;
                height: 37px;
                right: 0;
                outline: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #010A44;
                position: absolute;
                padding-left: 10px;
                background-color: #F4F4F4;
                right: 12px;
            }

            a {
                position: absolute;
                right: 30px;
                color: black;

                &:hover {
                    color: #65A3F2 !important;
                    cursor: pointer;
                }
            }
        }


        .basket {
            cursor: pointer;

            i {
                font-size: 25px;
                color: #65A3F2;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                }

                sup {
                    background-color: #F93A35;
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .heart {
            margin-left: 5px;

            i {
                font-size: 25px;
                color: #65A3F2;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                }

                sup {
                    background-color: #F93A35;
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    margin-left: 5%;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                .dropdown-content {
                    display: block;

                }
            }

            .dropbtn {
                color: rgb(84, 85, 93);
                padding: 10px;
                font-size: 15px;
                height: 39px;
                border: none;
                cursor: pointer;
                border-bottom: 2px solid #65A3F2;
                background-color: #F4F4F4;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #F4F4F4;
                min-width: 100px;
                border-radius: 7px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;

                a {
                    color: black;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #65A3F2;
                    }
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    #scrol-navbar-area {
        z-index: 2;

        .search-icon {
            input {
                width: 100px !important;
            }

            i {
                font-size: small;
                margin-right: -10px;
            }
        }

        .scrol-logo {
            margin-right: 0 !important;
        }
    }

}

@media (max-width: 992px) {
    #scrol-navbar-area {
        z-index: 2;

        .search-icon {
            float: left;
            margin-left: 120px;

            input {
                width: 100px !important;
            }
        }


        .dropdown {
            margin-left: 10px !important;
            margin-top: 30px !important;
        }

        .basket {
            margin-top: 20px;
            margin-left: 20px;
        }

        .heart {
            margin-top: 20px;
            i {
                margin-left: 14px;
            }
        }
    }

}


@media (max-width: 768px) {
    #scrol-navbar-area {
        z-index: 2;

        .search-icon {
            float: left;
            margin-left: 120px;

            input {
                width: 100px !important;
            }
        }


        .dropdown {
            margin-left: 10px !important;
            margin-top: 30px !important;
        }

        .basket {
            margin-top: 20px;
            margin-left: 20px;
        }

        .heart {
            margin-top: 20px;
            i {
                margin-left: 14px;
            }
        }
    }

}

@media (max-width: 768px) {
    #scrol-navbar-area {
        z-index: 2;

        .search-icon {
            float: left;
            margin-left: 120px;

            input {
                width: 100px !important;
            }
        }


        .dropdown {
            margin-left: 10px !important;
            margin-top: 30px !important;
        }

        .basket {
            margin-top: 20px;
            margin-left: 20px;
        }

        .heart {
            margin-top: 20px;
            i {
                margin-left: 14px;
            }
        }
    }

}











.btn3 {
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	background: #384aeb;
	width: 100%;
	border: 0;
}






#product-detail-area{
    .product_container {
        width: 90%;
        margin: auto;
        position: relative;
        padding: 5vh 0;
        margin: 5vh auto;

        .btn4 {
            padding: 10px 20px;
            text-align: center;
            color: #000;
            border-radius: 20px;
            background: #fff;
            width: 150px;
            border: 0;
            margin: 0 20px;
            box-shadow: 0px 6px 16px -6px rgba(1,1,1,0.5);
        }

        em {
            font-style: italic;
        }
        .reviews {
            width: 100%;
            background: #f2f2f2;
            padding: 5vh 0;
            position: relative;
        }
        .review_sidebar {
            width: 90%;
            margin: auto;
            button {
                display: inline-block;
            }
        }
        .review_container {
            width: 90%;
            margin: auto;
            padding: 5vh 0;

            .user_star_ratings {
                width: 50%;

                .btn1 {
                    padding: 10px 20px;
                    border-radius: 20px;
                    text-align: center;
                    color: #fff;
                    background: #000;
                    width: 90%;
                    border: 0;

                    &:hover{
                        background-color:  #384AEB;
                    }
                }
                li {
                    list-style: none;
                }
            }
             .enter_user_comment {
                width: 40%;
                position: absolute;
                top: 4vh;
                right: 3vh;
                background: #fff;
                padding: 30px;
                textarea {
                    width: 90%;
                    padding: 5%;
                    height: 120px;
                    display: block;
                    margin: 20px 0;
                    resize: none;
                    outline: none;
                }
                input {
                    outline: none;
                }

                .btn2 {
                    padding: 10px 20px;
                    text-align: center;
                    color: #fff;
                    background: #f79500;
                    width: 100%;
                    border: 0;
                }
            }
    
        }
        .active_button {
            background: #384aeb;
            color: #fff;
            transition: 0.5s;
        }
        
     

        
      

    }
}








@media (max-width:1180px) {
	.product_container {
		min-width: 95%;
		width: 100%;
	}
	.sidebar {
		position: static;
		width: 100%;
		margin: auto;
		display: block;
		padding: 10px;
		img {
			display: inline-block;
			margin: 0px 2px;
			max-width: 33%;
			max-height: 100px;
		}
	}
	.Product_tumbnail {
		width: 100%;
		margin: auto;
		img {
			max-width: 100%;
			margin-left: 17%;
			margin-left: 11px;
		}
	}
	.details {
		width: 100%;
		position: static;
		float: none;
		padding: 5vh 0;
	}
}
@media (max-width:1000px) {
	.specification_table {
		td {
			width: 95%;
			padding: 10px 25px;
			color: gray;
			border-bottom: 1px solid rgba(1,1,1,0.1);
		}
	}
	.user_star_ratings {
		width: 95%;
		margin: 15vh 0;
	}
	.review_sidebar {
		button {
			margin: 0 5px;
			width: 100px;
			font-size: 11px;
			display: inline-block;
		}
	}
	
	.rating_blocks {
		width: 95%;
		display: block;
	}
	.enter_user_comment {
		width: 90%;
		position: static;
		background: #fff;
		padding: 20px;
	}
}












#footer-area {
    background-color: #000000;
    margin-top: 50px;

    .container {
        .footer-side {
            margin-top: 90px;

            .footer-info {
                margin-top: 15px;

                h1 {
                    color: white;
                }

                ul {
                    padding-left: 0%;

                    li {
                        list-style: none;
                        margin-top: 12px;

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 20px;

                            &:hover {
                                color: #007bff;
                            }
                        }

                    }
                }

                .footer-logo {
                    img {
                        margin-top: 14px;
                    }

                    p {
                        margin-top: 25px;
                        color: white;

                        &:hover {
                            color: #007bff;

                        }
                    }
                }


                .social {

                    ul {
                        display: flex;

                        .social-icon {
                            width: 40px;
                            height: 40px;
                            background-color: #1A1A1A;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 12px;
                            margin-left: 8px;

                            &:hover {
                                background-color: #fff;

                                i {
                                    color: #007bff;
                                }
                            }
                        }
                    }
                }


            }
        }

        .line {
            width: 95%;
            border: 0.5px solid gray;
            margin-top: 70px;
            opacity: 0.5;
        }

        .copyright {
            margin-top: 15px;
            text-align: center;
            color: white;

        }
    }
}

@media (max-width: 1116) {
    #footer-area {
        background-color: #000000;
        width: 100%;
        height: 100vh;

        .container {
            .footer-info {
                width: 100%;
                background-color: #000000;
            }
        }


    }
}