@model Contact
@{
    ViewData["Title"] = "Update";

}




<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card" style=" margin-left: 10px;">
                    <div class="card-body">
                        <p class="card-description">Contact</p>
                      
                        <form asp-action="Update" class="forms-sample" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Description</label>
                                <input class="form-control rounded-0" id="description-area" rows="3" asp-for="Description" autocomplete="off"></input>
                                <span class="text-danger my-1" asp-validation-for="Description"></span>
                            </div>

                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Address</label>
                                <input class="form-control rounded-0" id="title-area" rows="3" asp-for="Address"></input>
                                <span class="text-danger my-1" asp-validation-for="Address"></span>
                            </div>
                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Email</label>
                                <input class="form-control rounded-0" id="title-area" rows="3" asp-for="Email"></input>
                                <span class="text-danger my-1" asp-validation-for="Email"></span>
                            </div>

                            <div class="form-group">
                                <label class="my-4" for="exampleInputUsername1">Phone</label>
                                <input class="form-control rounded-0" id="title-area" rows="3" asp-for="Phone"></input>
                                <span class="text-danger my-1" asp-validation-for="Phone"></span>
                            </div>

                            <button type="submit" class="btn btn-success">Submit</button>
                            <a asp-controller="Contact" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />

}




