* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar-area {
  background-color: #F4F4F4;
}
#navbar-area .container .logo {
  margin-left: 20px;
  margin-right: 40px;
}
#navbar-area .container .nav-center li {
  margin-left: 35px;
  font-size: 22px;
}
#navbar-area .container .nav-center li a {
  color: #171700;
}
#navbar-area .container .nav-center li a:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .search-box {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #2f3640;
  height: 40px;
  border-radius: 40px;
}
#navbar-area .container .search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
#navbar-area .container .search-box:hover > .search-btn {
  background-color: #fff;
}
#navbar-area .container .search-box .search-btn {
  color: #2879FB;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
#navbar-area .container .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}
#navbar-area .container .basket {
  cursor: pointer;
}
#navbar-area .container .basket i {
  font-size: 25px;
  color: #65A3F2;
  margin-top: 13px;
}
#navbar-area .container .basket i:hover {
  color: #ff2020 !important;
}
#navbar-area .container .basket i sup {
  background-color: #F93A35;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .heart {
  margin-left: 5px;
}
#navbar-area .container .heart i {
  font-size: 25px;
  color: #65A3F2;
  margin-top: 13px;
}
#navbar-area .container .heart i:hover {
  color: #ff2020 !important;
}
#navbar-area .container .heart i sup {
  background-color: #F93A35;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  margin-left: 5%;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .dropdown {
  margin-left: 20px;
  margin-right: 20px;
}
#navbar-area .container .dropdown:hover .dropdown-content {
  display: block;
}
#navbar-area .container .dropdown .dropbtn {
  color: rgb(84, 85, 93);
  padding: 10px;
  font-size: 15px;
  height: 39px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #65A3F2;
  background-color: #F4F4F4;
}
#navbar-area .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 100px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#navbar-area .container .dropdown .dropdown-content a {
  color: black;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
#navbar-area .container .dropdown .dropdown-content a:hover {
  background-color: #65A3F2;
}

@media (max-width: 1400px) {
  #navbar-area .nav-center li {
    margin-left: 20px !important;
    font-size: 22px;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 1200px) {
  #navbar-area .logo {
    margin-left: 0px !important;
  }
  #navbar-area .nav-center li {
    margin-left: 20px;
    font-size: 22px;
  }
  #navbar-area .search-box {
    position: absolute;
    left: 69% !important;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  #navbar-area .logo {
    margin-left: 0px !important;
  }
  #navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #navbar-area .search-box {
    position: absolute;
    top: 50%;
    left: 66% !important;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 0px !important;
  }
  #navbar-area .basket {
    margin-top: 4px;
    margin-left: 16px;
  }
  #navbar-area .heart i {
    margin-left: 0 !important;
  }
}
@media (max-width: 991px) {
  #navbar-area .logo {
    margin-left: 0px !important;
  }
  #navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #navbar-area .search-box {
    top: 65% !important;
    left: 10% !important;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 50px !important;
    margin-left: 5px !important;
  }
  #navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #navbar-area .heart i {
    margin-left: 10px !important;
  }
}
@media (max-width: 768px) {
  #navbar-area .search-box {
    top: 65% !important;
    left: 15% !important;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 55px !important;
    margin-left: 5px !important;
  }
  #navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #navbar-area .heart i {
    margin-left: 10px !important;
  }
}
.visibl {
  visibility: hidden;
}

#scrol-navbar-area {
  background-color: #F4F4F4;
  position: fixed;
  z-index: 5;
  width: 100%;
}
#scrol-navbar-area .container .scrol-logo {
  margin-left: 20px;
  margin-right: 40px;
}
#scrol-navbar-area .container .nav-center li {
  margin-left: 35px;
  font-size: 22px;
}
#scrol-navbar-area .container .nav-center li a {
  color: #171700;
}
#scrol-navbar-area .container .nav-center li a:hover {
  color: #65A3F2 !important;
}
#scrol-navbar-area .container .search-box {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: #2f3640;
  height: 40px;
  border-radius: 40px;
}
#scrol-navbar-area .container .search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
#scrol-navbar-area .container .search-box:hover > .search-btn {
  background-color: #fff;
}
#scrol-navbar-area .container .search-box .search-btn {
  color: #2879FB;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
#scrol-navbar-area .container .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}
#scrol-navbar-area .container .basket {
  cursor: pointer;
}
#scrol-navbar-area .container .basket i {
  font-size: 25px;
  color: #65A3F2;
  margin-top: 13px;
}
#scrol-navbar-area .container .basket i:hover {
  color: #ff2020 !important;
}
#scrol-navbar-area .container .basket i sup {
  background-color: #F93A35;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#scrol-navbar-area .container .heart {
  margin-left: 5px;
}
#scrol-navbar-area .container .heart i {
  font-size: 25px;
  color: #65A3F2;
  margin-top: 13px;
}
#scrol-navbar-area .container .heart i:hover {
  color: #ff2020 !important;
}
#scrol-navbar-area .container .heart i sup {
  background-color: #F93A35;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  margin-left: 5%;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#scrol-navbar-area .container .dropdown {
  margin-left: 20px;
  margin-right: 20px;
}
#scrol-navbar-area .container .dropdown:hover .dropdown-content {
  display: block;
}
#scrol-navbar-area .container .dropdown .dropbtn {
  color: rgb(84, 85, 93);
  padding: 10px;
  font-size: 15px;
  height: 39px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #65A3F2;
  background-color: #F4F4F4;
}
#scrol-navbar-area .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 100px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#scrol-navbar-area .container .dropdown .dropdown-content a {
  color: black;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
#scrol-navbar-area .container .dropdown .dropdown-content a:hover {
  background-color: #65A3F2;
}

@media (max-width: 1400px) {
  #scrol-navbar-area .nav-center li {
    margin-left: 20px !important;
    font-size: 22px;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .scrol-logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 1200px) {
  #scrol-navbar-area .scrol-logo {
    margin-left: 0px !important;
  }
  #scrol-navbar-area .nav-center li {
    margin-left: 20px;
    font-size: 22px;
  }
  #scrol-navbar-area .search-box {
    position: absolute;
    left: 69% !important;
  }
  #scrol-navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  #scrol-navbar-area .scrol-logo {
    margin-left: 0px !important;
  }
  #scrol-navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #scrol-navbar-area .search-box {
    position: absolute;
    top: 50%;
    left: 66% !important;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .dropdown {
    margin-top: 0px !important;
  }
  #scrol-navbar-area .basket {
    margin-top: 4px;
    margin-left: 16px;
  }
  #scrol-navbar-area .heart i {
    margin-left: 0 !important;
  }
}
@media (max-width: 991px) {
  #scrol-navbar-area .scrol-logo {
    margin-left: 0px !important;
  }
  #scrol-navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #scrol-navbar-area .search-box {
    top: 65% !important;
    left: 10% !important;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .dropdown {
    margin-top: 50px !important;
    margin-left: 5px !important;
  }
  #scrol-navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #scrol-navbar-area .heart i {
    margin-left: 10px !important;
  }
}
@media (max-width: 768px) {
  #scrol-navbar-area .search-box {
    top: 65% !important;
    left: 15% !important;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .dropdown {
    margin-top: 55px !important;
    margin-left: 5px !important;
  }
  #scrol-navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #scrol-navbar-area .heart i {
    margin-left: 10px !important;
  }
}
#blog-area {
  margin-top: 60px;
}
#blog-area .container .title {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8F0F2;
}
#blog-area .container .blog-card {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 0.5px solid whitesmoke;
  width: 88%;
}
#blog-area .container .blog-card:hover img {
  transform: scale(1.1);
  transition: 0.7s;
}
#blog-area .container .blog-card .blog-img {
  width: 100%;
}
#blog-area .container .blog-card .blog-img a .blogImage {
  overflow: hidden;
}
#blog-area .container .blog-card .blog-img a .blogImage img {
  width: 100%;
  transition: 0.7s;
}
#blog-area .container .blog-card .blog-date {
  width: 80px;
  height: 80px;
  background-color: #2F7DFC;
  border-radius: 10px;
  position: absolute;
  bottom: 22%;
  left: 50px;
}
#blog-area .container .blog-card .blog-date a {
  text-decoration: none;
}
#blog-area .container .blog-card .blog-date a h6 {
  color: #fff;
  margin-left: 27px;
  margin-top: 12px;
  line-height: 17px;
  letter-spacing: 2px;
}
#blog-area .container .blog-card .blog-date a p {
  color: #fff;
  margin-left: 27px;
  margin-top: 12px;
  line-height: 17px;
}
#blog-area .container .blog-card .blog-text-main .blog-text {
  margin-top: 60px;
  margin-left: 12px;
}
#blog-area .container .search-area {
  margin-top: 50px;
}
#blog-area .container .search-area .search {
  display: flex;
}
#blog-area .container .search-area .search .input {
  padding: 0 8px 0 25px;
  width: 315px;
  height: 45px;
  outline: none;
  border: 1px solid #e6e6e6;
}
#blog-area .container .search-area .search .my-btn {
  width: 55px;
  height: 45px;
  border: none;
  font-weight: 500;
  padding: 0.375em 0.625em;
  background: #2879FB;
}
#blog-area .container .search-area .search .my-btn .search-icon {
  color: #fff;
  fill: currentColor;
  vertical-align: text-bottom;
}
#blog-area .container .category {
  margin-top: 50px;
  width: 90%;
  background-color: #FBF9FF;
}
#blog-area .container .category h3 {
  margin-left: 20px;
  padding-top: 20px;
}
#blog-area .container .category li {
  list-style: none;
  line-height: 55px;
  margin-left: 20px;
  border-top: 1px solid #F0E9FF;
  width: 88%;
}
#blog-area .container .category li a {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
}
#blog-area .container .category li a:hover {
  color: #2F7DFC;
}
#blog-area .container .recent-post {
  height: 100%;
  margin-top: 50px;
  width: 90%;
  background-color: #FBF9FF;
}
#blog-area .container .recent-post h3 {
  margin-left: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #F0E9FF;
  width: 88%;
}
#blog-area .container .recent-post .recent-card {
  margin-top: 35px;
}
#blog-area .container .recent-post .recent-card .img-name {
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
}
#blog-area .container .recent-post .recent-card .img-name .name-blog {
  margin-left: 10px;
}
#blog-area .container .tag-area {
  margin-top: 100px;
  width: 90%;
  background-color: #FBF9FF;
}
#blog-area .container .tag-area h3 {
  margin-left: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #F0E9FF;
  width: 88%;
}
#blog-area .container .tag-area .tag ul {
  display: flex;
}
#blog-area .container .tag-area .tag ul li {
  width: 100%;
  height: 32px;
  list-style: none;
  margin: 10px;
  background-color: #fff;
  border: 0.7px solid whitesmoke;
}
#blog-area .container .tag-area .tag ul li a {
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin-left: 5px;
}
#blog-area .container .tag-area .tag ul li:hover {
  background-color: #2F7DFC;
}
#blog-area .container .tag-area .tag ul li:hover a {
  color: #fff;
}

@media (max-width: 1200px) {
  #blog-area .container .blog-card {
    position: relative;
  }
  #blog-area .container .blog-card .blog-date {
    position: absolute;
    bottom: 27%;
  }
}
@media (max-width: 992px) {
  #blog-area .container .blog-card {
    position: relative;
  }
  #blog-area .container .blog-card .blog-date {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 40%;
  }
  #blog-area .container .blog-card .blog-date a h6 {
    margin-left: 25px;
  }
  #blog-area .container .blog-card .blog-date a p {
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  #blog-area .container .blog-card {
    position: relative;
  }
  #blog-area .container .blog-card .blog-date {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 35%;
  }
  #blog-area .container .blog-card .blog-date a h6 {
    margin-left: 25px;
  }
  #blog-area .container .blog-card .blog-date a p {
    margin-left: 25px;
  }
  #blog-area .container .search-area .search input {
    width: 405px !important;
  }
}
#footer-area {
  background-color: #000000;
  margin-top: 50px;
}
#footer-area .container .footer-side {
  margin-top: 90px;
}
#footer-area .container .footer-side .footer-info {
  margin-top: 15px;
}
#footer-area .container .footer-side .footer-info h1 {
  color: white;
}
#footer-area .container .footer-side .footer-info ul {
  padding-left: 0%;
}
#footer-area .container .footer-side .footer-info ul li {
  list-style: none;
  margin-top: 12px;
}
#footer-area .container .footer-side .footer-info ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#footer-area .container .footer-side .footer-info ul li a:hover {
  color: #007bff;
}
#footer-area .container .footer-side .footer-info .footer-logo img {
  margin-top: 14px;
}
#footer-area .container .footer-side .footer-info .footer-logo p {
  margin-top: 25px;
  color: white;
}
#footer-area .container .footer-side .footer-info .footer-logo p:hover {
  color: #007bff;
}
#footer-area .container .footer-side .footer-info .social ul {
  display: flex;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon {
  width: 40px;
  height: 40px;
  background-color: #1A1A1A;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  margin-left: 8px;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon:hover {
  background-color: #fff;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon:hover i {
  color: #007bff;
}
#footer-area .container .line {
  width: 95%;
  border: 0.5px solid gray;
  margin-top: 70px;
  opacity: 0.5;
}
#footer-area .container .copyright {
  margin-top: 15px;
  text-align: center;
  color: white;
}

@media (max-width: 1116) {
  #footer-area {
    background-color: #000000;
    width: 100%;
    height: 100vh;
  }
  #footer-area .container .footer-info {
    width: 100%;
    background-color: #000000;
  }
}/*# sourceMappingURL=blog.css.map */