@model Feature

@{
    ViewData["Title"] = "Create";

}







<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card" style=" margin-left: 10px;">
                    <div class="card-body">
                        <p class="card-description">Feature</p>
                        <form asp-controller="Feature" asp-action="Create" class="forms-sample" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <input class="form-control mybutton" asp-for="Photo">
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a asp-controller="Feature" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />

}






