* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar-area {
    background-color: #F4F4F4;

    .container {
        .logo {
            margin-left: 20px;
            margin-right: 40px;
        }

        .nav-center {
            li {
                margin-left: 35px;
                font-size: 22px;

                a {
                    color: #171700;

                    &:hover {
                        color: #65A3F2 !important;
                    }
                }
            }
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            height: 40px;
            border-radius: 40px;

            &:hover {
                .search-txt {
                    width: 240px;
                    padding: 0 6px;
                }

                >.search-btn {
                    background-color: #fff;
                }
            }

            .search-btn {
                color: #2879FB;
                float: right;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s;
                text-decoration: none;
            }

            .search-txt {
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: black;
                font-size: 16px;
                transition: .4s;
                line-height: 40px;
                width: 0;
            }
        }


        // search end
        .basket {
            cursor: pointer;

            i {
                font-size: 25px;
                color: #171700;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                    
                }

                sup {
                    background-color: #65A3F2;
                   
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .heart {
            margin-left: 5px;

            i {
                font-size: 25px;
                color: #171700;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                
                        sup{
                            background-color:#65A3F2;
                        }
                    
                }

                sup {
                    background-color: #65A3F2;
                   
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    margin-left: 5%;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .dropdown {

            margin-left: 20px;
            margin-right: 20px;
            

            &:hover {
                .dropdown-content {
                    display: block;
                }
            }

            .dropbtn {
                color: rgb(84, 85, 93);
                padding: 10px;
                font-size: 15px;
                height: 39px;
                border: none;
                cursor: pointer;
                background-color: #F4F4F4;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #F4F4F4;
                min-width: 100px;
                border-radius: 7px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;
                margin-left: 5px;

                a {
                    color: black;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #65A3F2;
                    }
                }
            }
        }
    }

}


@media (max-width: 1400px) {
    #navbar-area {
        .nav-center {
            li {
                margin-left: 20px !important;
                font-size: 22px;

            }
        }

        .search-box {

            input {
                width: 100px !important;
            }
        }

        .logo {
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 1200px) {
    #navbar-area {
        .logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 20px;
                font-size: 22px;

            }
        }

        .search-box {
            position: absolute;
            left: 69% !important;
        }

        .logo {
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 992px) {
    #navbar-area {
        .logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 15px !important;
                font-size: 20px;

            }
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 66% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 0px !important;
        }

        .basket {
            margin-top: 4px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 0 !important;
            }
        }
    }

}

@media (max-width: 991px) {
    #navbar-area {
        .logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 15px !important;
                font-size: 20px;

            }
        }

        .search-box {
            top: 65% !important;
            left: 10% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 50px !important;
            margin-left: 5px !important;

        }

        .basket {
            margin-top: 14px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 10px !important;
            }
        }
    }

}

@media (max-width: 768px) {
    #navbar-area {


        .search-box {
            top: 65% !important;
            left: 15% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 55px !important;
            margin-left: 5px !important;

        }


        .basket {
            margin-top: 14px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 10px !important;
            }
        }
    }

}


.visibl {
    visibility: hidden;
}


#scrol-navbar-area {
    background-color: #F4F4F4;
    position: fixed;
    z-index: 5;
    width: 100%;

    .container {
        .scrol-logo {
            margin-left: 20px;
            margin-right: 40px;
        }

        .nav-center {
            li {
                margin-left: 35px;
                font-size: 22px;

                a {
                    color: #171700;

                    &:hover {
                        color: #65A3F2 !important;
                    }
                }
            }
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            height: 40px;
            border-radius: 40px;

            &:hover {
                .search-txt {
                    width: 240px;
                    padding: 0 6px;
                }

                .search-btn {
                    background-color: #fff;
                }
            }

            .search-btn {
                color: #2879FB;
                float: right;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s;
                text-decoration: none;
            }

            .search-txt {
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: black;
                font-size: 16px;
                transition: .4s;
                line-height: 40px;
                width: 0;
            }
        }


        // search end
        .basket {
            cursor: pointer;

            i {
                font-size: 25px;
                color: #171700;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;
                  
                }

                sup {
                    background-color: #65A3F2;
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .heart {
            margin-left: 5px;

            i {
                font-size: 25px;
                color: #171700;
                margin-top: 13px;

                &:hover {
                    color: #ff2020 !important;

                }

                sup {
                    background-color: #65A3F2;
                    color: rgb(49, 75, 99) !important;
                    padding: 5px;
                    margin-left: 5%;
                    border-radius: 50%;
                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .dropdown {

            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                .dropdown-content {
                    display: block;
                }
            }

            .dropbtn {
                color: rgb(84, 85, 93);
                padding: 10px;
                font-size: 15px;
                height: 39px;
                border: none;
                cursor: pointer;
                background-color: #F4F4F4;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #F4F4F4;
                min-width: 100px;
                border-radius: 7px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;
                margin-left: 5px;


                a {
                    color: black;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #65A3F2;
                    }
                }
            }
        }
    }

}


@media (max-width: 1400px) {
    #scrol-navbar-area {
        .nav-center {
            li {
                margin-left: 20px !important;
                font-size: 22px;

            }
        }

        .search-box {

            input {
                width: 100px !important;
            }
        }

        .scrol-logo {
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 1200px) {
    #scrol-navbar-area {
        .scrol-logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 20px;
                font-size: 22px;

            }
        }

        .search-box {
            position: absolute;
            left: 69% !important;
        }

        .logo {
            margin-right: 0 !important;
        }
    }
}


@media (max-width: 992px) {
    #scrol-navbar-area {
        .scrol-logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 15px !important;
                font-size: 20px;

            }
        }

        .search-box {
            position: absolute;
            top: 50%;
            left: 66% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 0px !important;
        }

        .basket {
            margin-top: 4px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 0 !important;
            }
        }
    }

}

@media (max-width: 991px) {
    #scrol-navbar-area {
        .scrol-logo {
            margin-left: 0px !important;
        }

        .nav-center {
            li {
                margin-left: 15px !important;
                font-size: 20px;

            }
        }

        .search-box {
            top: 65% !important;
            left: 10% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 50px !important;
            margin-left: 5px !important;

        }

        .basket {
            margin-top: 14px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 10px !important;
            }
        }
    }

}

@media (max-width: 768px) {
    #scrol-navbar-area {


        .search-box {
            top: 65% !important;
            left: 15% !important;

            input {
                width: 100px !important;
            }

        }

        .dropdown {
            margin-top: 55px !important;
            margin-left: 5px !important;

        }


        .basket {
            margin-top: 14px;
            margin-left: 16px;
        }

        .heart {
            i {
                margin-left: 10px !important;
            }
        }
    }

}



#heart-area {

    margin-top: 50px;

    .container {

        h1 {
            height: 60px;
            background-color: #E8F0F2;
            text-align: center;
            padding-top: 10px;
        }

        .table {
            margin-top: 60px;
            width: 100%;
            border-collapse: collapse;

            .delete-icon {
                font-size: 25px;
                color: #2879FB;
                &:hover {
                    color: red;
                }
            }
            .basket-heart{
                font-size: 25px;
                color: #2879FB;


                &:hover {
                    color: red;
                }
            }

            td,
            th {
                padding: 12px 15px;
                border: 1px solid #ddd;
                text-align: center;
                font-size: 16px;
                cursor: pointer;


            }

            th {
                background-color: rgb(77, 83, 87);
                color: #ffffff;
            }

            tbody {
                vertical-align: middle !important;

                tr:nth-child(even) {
                    background-color: #f5f5f5;
                }


            }

        }
    }
}

@media (max-width: 500px) {
    #heart-area {
        .table {
            thead {
                display: none;
            }

            display: block;
            width: 100%;

            tbody {
                display: block;
                width: 100%;
            }

            tr {
                display: block;
                width: 100%;
                margin-bottom: 15px;
            }

            td {
                display: block;
                width: 100%;
                text-align: right;
                padding-left: 50%;
                text-align: right;
                position: relative;

                &::before {
                    content: attr(data-label);
                    position: absolute;
                    left: 0;
                    width: 50%;
                    padding-left: 15px;
                    font-size: 15px;
                    font-weight: bold;
                    text-align: left;
                }
            }
        }
    }
}







#footer-area {

    background-color: #000000;
    margin-top: 50px;

    .container {
        .footer-side {
            margin-top: 90px;

            .footer-info {
                margin-top: 15px;

                h1 {
                    font-size: 30px;
                    color: white;
                }

                ul {
                    padding-left: 0%;

                    li {
                        list-style: none;
                        margin-top: 12px;

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 20px;

                            &:hover {
                                color: #007bff;
                            }
                        }

                    }
                }

                .footer-logo {
                    img {
                        margin-top: 14px;
                    }

                    p {
                        margin-top: 25px;
                        color: white;

                        &:hover {
                            color: #007bff;

                        }
                    }
                }


                .social {

                    ul {
                        display: flex;

                        .social-icon {
                            width: 40px;
                            height: 40px;
                            background-color: #1A1A1A;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 12px;
                            margin-left: 8px;

                            &:hover {
                                background-color: #fff;

                                i {
                                    color: #007bff;
                                }
                            }
                        }
                    }
                }


            }
        }

        .line {
            width: 95%;
            border: 0.5px solid gray;
            margin-top: 70px;
            opacity: 0.5;
        }

        .copyright {
            margin-top: 15px;
            text-align: center;
            color: white;

        }
    }
}

@media (max-width: 1116) {
    #footer-area {
        background-color: #000000;
        width: 100%;
        height: 100vh;

        .container {
            .footer-info {
                width: 100%;
                background-color: #000000;
            }
        }


    }
}