* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#navbar-area {
    background-color: #F4F4F4;

    .container {

        .logo {
            margin-left: 20px;
            margin-right: 40px;


        }

        .nav-center {
            li {
                margin-left: 20px;
                font-size: 22px;

                a {
                    color: #171700;

                    &:hover {
                        color: #65A3F2 !important;
                    }
                }
            }
        }

        .search-icon {

            position: relative;
            display: flex;
            align-items: center;

            input {
                width: 180px;
                height: 37px;
                right: 0;
                outline: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid #010A44;
                position: absolute;
                padding-left: 10px;
                background-color: #F4F4F4;
            }

            a {
                position: absolute;
                right: 20px;
                color: black;

                &:hover {
                    color: #65A3F2 !important;
                    cursor: pointer;
                }
            }
        }

        .basket {
            cursor: pointer;

            i {
                font-size: 25px;
                color: black;
                margin-top: 13px;

                &:hover {
                    color: #65A3F2 !important;
                }

                sup {

                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }
        .heart{
            margin-left: 5px;
            i {
                font-size: 25px;
                color: black;
                margin-top: 13px;

                &:hover {
                    color: #65A3F2 !important;
                }

                sup {

                    font-size: small;
                    top: -20px;
                    right: 5px;
                }
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;

            &:hover {
                .dropdown-content {
                    display: block;

                }

            }

            .dropbtn {
                color: rgb(84, 85, 93);
                padding: 10px;
                font-size: 15px;
                height: 39px;
                border: none;
                cursor: pointer;
                border-bottom: 2px solid #65A3F2;
                background-color: #F4F4F4;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #F4F4F4;
                min-width: 100px;
                border-radius: 7px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 2;

                a {
                    color: black;
                    padding: 10px 22px;
                    border-radius: 5px;
                    text-decoration: none;
                    display: block;

                    &:hover {
                        background-color: #65A3F2;
                    }
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    #navbar-area {

        .search-icon {
            input {
                width: 100px !important;
            }

            i {
                font-size: small;
                margin-right: -10px;
            }
        }

        .logo {
            margin-right: 0 !important;
        }
    }

}

@media (max-width: 992px) {
    #navbar-area {
        position: relative;

        .search-icon {
            float: left;
            margin-left: 120px;

            input {
                width: 100px !important;
            }
        }


        .dropdown {
            margin-top: 30px !important;
        }

        .basket {
            margin-top: 15px;
            margin-left: 20px;
        }
        .heart {
            i{
                margin-left: 14px;
            }
        }
    }

}


  #login {
    padding-top:1%; 
    padding-bottom: 6%;


    .login-area {
       width: 100%;
       display: flex;
       justify-content: center;
        align-items: center;
        
        .circle {
            width:100%;
            height: 100%;
            position: absolute;
            background: #3866f2;
            border-radius: 0 0 100% 0;   
            z-index: -1;
            top: 0;
            
        }
        .form {
            background-color: #fff;
            margin: auto;
            width: 90%;
            max-width: 400px;
            padding: 4.5em 3em;
            border-radius: 10px;
            box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
            text-align: center;
            background: rgba(255, 255, 255, 0.877);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(12.2px);
            -webkit-backdrop-filter: blur(12.2px);
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: 1s;
           margin-top: 50px;
            &:hover {
                transform: scale(1.02);
                transition: 1s;
            }
            p{
                a{
                    text-decoration: none;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
        .form-title {
            font-size: 2rem;
            margin-bottom: .5em;
        }
        .form-paragraph {
            font-weight: 300;
            margin-top: 20px;
        }
        .form-link {
            font-weight: 400;
            color: #000;
        }
        .form-container {
            margin-top: 3em;
            display: grid;
            gap: 2.5em;

            .forgot{
                text-align: right;
                text-decoration: none;
                margin-top: -25px;
                &:hover{
                    color: red;
                }
            }
        }
        .form-group {
            position: relative;
            color: #5757577e;
        }
        .form-input {
            width: 100%;
            background: none;
            --color: #706c6c;
            font-size: 1rem;
            padding: .6em .3em;
            border: none;
            outline: none;
            border-bottom: 1px solid var(--color);
            font-family: 'Roboto', sans-serif;
            &:not(:placeholder-shown) {
                color: #4d4646;
                + {
                    .form-label {
                        transform: translateY(-12px) scale(.7);
                        transform-origin: left top;
                        color: #3866f2;
                    }
                }
                ~ {
                    .form-line {
                        transform: scale(1);
                    }
                }
            }
            &:focus {
                + {
                    .form-label {
                        transform: translateY(-12px) scale(.7);
                        transform-origin: left top;
                        color: #3866f2;
                    }
                }
                ~ {
                    .form-line {
                        transform: scale(1);
                    }
                }
            }
        }
        .form-label {
            color: var(--color);
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 5px;
            transform: translateY(10px);
            transition: transform .5s, color .3s;
        }
        .form-submit {
            background: #3866f2;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1rem;
            padding: .8em 0;
            border: none;
            border-radius: .5em;
        }
        .form-line {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #3866f2;
            transform: scale(0);
            transform: left bottom;
            transition: transform .4s;
        }
        .Creador {
            position: fixed;
            top: 10px;
            display: flex;
            left: 80%;
            justify-content: center;
            width: 70px;
            border-radius: 5px;
            padding: 5px;
            background-color: #3866f2;
            a {
                color: #fff;
                font-size: 12px;
            }
        }
        @media (max-width:425px) {
            .form-title {
                font-size: 1.8rem;
            }
        }
        
     
    }
}



#footer-area {

    background-color: #000000;
    margin-top: 50px;

    .container {
        .footer-side {
            margin-top: 90px;

            .footer-info {
                margin-top: 15px;

                h1 {
                    color: white;
                }

                ul {
                    padding-left: 0%;

                    li {
                        list-style: none;
                        margin-top: 12px;

                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 20px;

                            &:hover {
                                color: #007bff;
                            }
                        }

                    }
                }

                .footer-logo {
                    img {
                        margin-top: 14px;
                    }

                    p {
                        margin-top: 25px;
                        color: white;

                        &:hover {
                            color: #007bff;

                        }
                    }
                }


                .social {

                    ul {
                        display: flex;

                        .social-icon {
                            width: 40px;
                            height: 40px;
                            background-color: #1A1A1A;
                            border-radius: 50%;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-bottom: 12px;
                            margin-left: 8px;

                            &:hover {
                                background-color: #fff;

                                i {
                                    color: #007bff;
                                }
                            }
                        }
                    }
                }


            }
        }

        .line {
            width: 95%;
            border: 0.5px solid gray;
            margin-top: 70px;
            opacity: 0.5;
        }

        .copyright {
            margin-top: 15px;
            text-align: center;
            color: white;

        }
    }
}

@media (max-width: 1116) {
    #footer-area {
        background-color: #000000;
        width: 100%;
        height: 100vh;

        .container {
            .footer-info {
                width: 100%;
                background-color: #000000;
            }
        }


    }
}