@model HomeVM

@{
    ViewData["Title"] = "Home";
}

<!-- Start Main Area -->
<main>
    <section id="slider-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="swiper mySwiperSl">
                        <div class="swiper-wrapper">
                            @foreach (var slider in Model.Sliders)
                            {
                                <div class="swiper-slide">

                                    <div class="img">
                                        <img src="./assets/img/slider/@slider.Image" alt="slider" />
                                    </div>
                                    <div class="slider-text">
                                        <p>@slider.Title</p>
                                        <h1>@Html.Raw(slider.Descirption)</h1>
                                        <a href="">Shop Now</a>
                                    </div>
                                </div>

                            }

                            @*<div class="swiper-slide">
            <div class="img">
                <img src="./assets/img/slider/bg.jpg" alt="slider" />
            </div>
            <div class="slider-text">
                <p>2022 Latest Collection</p>
                <h1>Summer Time<br />Collection</h1>
                <a href="">Shop Now</a>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="img">
                <img src="./assets/img/slider/bg_2.jpg" alt="slider" />
            </div>
            <div class="slider-text">
                <p>2022 Latest Collection</p>
                <h1>Men's Suiting<br />And Clothing</h1>
                <a href="">Shop Now</a>
            </div>

        </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="cards">
                        <img src="./assets/img/service/icon_1.png.webp" alt="icon">
                        <h3>Free shipping</h3>
                        <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="cards">
                        <img src="./assets/img/service/icon_2.png.webp" alt="icon">
                        <h3>Money return</h3>
                        <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="cards">
                        <img src="./assets/img/service/icon_3.png.webp" alt="icon">
                        <h3>Free shipping</h3>
                        <p>Divided face for bearing the divide unto seed winged divided light Forth.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="cards">
                        <img src="./assets/img/service/icon_4.png.webp" alt="icon">
                        <h3>Online support</h3>
                        <p>Online support 24 hours a day</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="feature-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="img">
                            <img src="./assets/img/product/feature_1.png.webp" alt="images">
                        </div>

                        <div class="text">
                            <a href="">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="img">
                            <img src="./assets/img/product/feature_2.png.webp" alt="images">
                        </div>
                        <div class="text">
                            <a href="">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12  col-sm-12">
                    <div class="card">
                        <div class="img">
                            <img src="./assets/img/product/feature_3.png.webp" alt="images">
                        </div>
                        <div class="text">
                            <a href="">Buy Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="slider-product-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-ourPr">
                        <h3>Our Product</h3>
                    </div>
                </div>
                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="card-pr" cart-id="1">
                                <div class="imagesBx">
                                    <img src="./assets/img/product/women/14_org_zoom.webp" alt="images">

                                    <ul class="icon-shop">
                                        <li>
                                            <i class="fa fa-heart wishList"></i>
                                            <span>Add to WishList</span>
                                        </li>
                                        <li>
                                            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                                            <span>Add to Cart</span>

                                        </li>

                                        <a class="detail" href="product-detail.html">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            <span>View Details</span>
                                        </li>
                                        </a>

                                    </ul>
                                </div>

                                <div class="productName">
                                    <h4>Defacto</h4>
                                    <a href="">Rayon a-line Dres</a>
                                </div>
                                <div class="price">
                                    <span>25.₼</span>
                                    <span><del>35₼</del></span>
                                </div>

                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-pr" cart-id="2">
                                <div class="imagesBx">
                                    <img src="./assets/img/product/men/11_org_zoom.webp" alt="images">
                                    <ul class="icon-shop">
                                        <li>
                                            <i class="fa fa-heart wishList"></i>
                                            <span>Add to WishList</span>
                                        </li>
                                        <li>
                                            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                                            <span>Add to Cart</span>

                                        </li>

                                        <a class="detail" href="product-detail.html">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            <span>View Details</span>
                                        </li>
                                        </a>

                                    </ul>
                                </div>
                                <div class="productName">
                                    <h4>Puma</h4>
                                    <a href="">Rayon a-line Dres</a>
                                </div>
                                <div class="price">
                                    <span>52.99₼</span>
                                    <span><del>52.99₼</del></span>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card-pr" cart-id="3">
                                <div class="imagesBx">
                                    <img src="./assets/img/product/accessories/13_org_zoom.webp" alt="images">
                                    <ul class="icon-shop">

                                        <li>
                                            <i class="fa fa-heart wishList"></i>
                                            <span>Add to WishList</span>
                                        </li>


                                        <li>
                                            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                                            <span>Add to Cart</span>

                                        </li>

                                        <a class="detail" href="product-detail.html">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            <span>View Details</span>
                                        </li>
                                        </a>

                                    </ul>
                                </div>
                                <div class="productName">
                                    <h4>Defacto</h4>
                                    <a href="">Analog Black men Watch</a>
                                </div>
                                <div class="price">
                                    <span>40.99₼</span>
                                    <span><del>52.99₼</del></span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-pr" cart-id="4">
                                <div class="imagesBx">
                                    <img src="./assets/img/product/men/7_org_zoom.webp" alt="images">
                                    <ul class="icon-shop">
                                        <li>
                                            <i class="fa fa-heart wishList"></i>
                                            <span>Add to WishList</span>
                                        </li>

                                        <li>
                                            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                                            <span>Add to Cart</span>

                                        </li>

                                        <a class="detail" href="product-detail.html">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            <span>View Details</span>
                                        </li>
                                        </a>

                                    </ul>
                                </div>

                                <div class="productName">
                                    <h4>Zara</h4>
                                    <a href="">Men's Regular Fit Shirts</a>
                                </div>
                                <div class="price">
                                    <span>22.99₼</span>
                                    <span><del>32₼</del></span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-pr" cart-id="5">
                                <div class="imagesBx">
                                    <img src="./assets/img/product/shoes/19_org_zoom.webp" alt="images">
                                    <ul class="icon-shop">
                                        <li>
                                            <i class="fa fa-heart wishList"></i>
                                            <span>Add to WishList</span>
                                        </li>

                                        <li>
                                            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                                            <span>Add to Cart</span>

                                        </li>

                                        <a class="detail" href="">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            <span>View Details</span>
                                        </li>
                                        </a>

                                    </ul>
                                </div>

                                <div class="productName">
                                    <h4>Defacto</h4>
                                    <a href="">Women's Handbag</a>
                                </div>
                                <div class="price">
                                    <span>33.99₼</span>
                                    <span><del>42₼</del></span>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card-pr" cart-id="6">
                                <div class="imagesBx">
                                    <img src="./assets/img/product/men/5_org_zoom.webp" alt="images">
                                    <ul class="icon-shop">
                                        <li>
                                            <i class="fa fa-heart wishList"></i>
                                            <span>Add to WishList</span>
                                        </li>
                                        <li>
                                            <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                                            <span>Add to Cart</span>

                                        </li>

                                        <a class="detail" href="">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            <span>View Details</span>
                                        </li>
                                        </a>

                                    </ul>
                                </div>

                                <div class="productName">
                                    <h4>Nike</h4>
                                    <a href="">Women's Relaxed Fit Jeans</a>
                                </div>
                                <div class="price">
                                    <span>52.99₼</span>
                                    <span><del>60.99₼</del></span>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>




    <section id="instagram-photo">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="img-opacity">
                        <img src="./assets/img/instagramphoto/inst_1.png.webp" alt="">

                        <div class="social">
                            <a href="https://www.instagram.com/thewinterbrand/?hl=en">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>

                        <div class="owerlay">
                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="img-opacity">
                        <img src="./assets/img/instagramphoto/inst_2.png.webp" alt="">
                        <div class="social">
                            <a href="https://www.instagram.com/thewinterbrand/?hl=en">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>

                        <div class="owerlay">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="img-opacity">
                        <img src="./assets/img/instagramphoto/inst_3.png.webp" alt="">
                        <div class="social">
                            <a href="https://www.instagram.com/thewinterbrand/?hl=en">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>

                        <div class="owerlay">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="img-opacity">
                        <img src="./assets/img/instagramphoto/inst_5.png.webp" alt="">
                        <div class="social">
                            <a href="https://www.instagram.com/thewinterbrand/?hl=en">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>

                        <div class="owerlay">
                        </div>
                    </div>
                </div>
            </div>
    </section>


    <section id="brand-area">
        <div class="container">
            <h3>OUR BRANDS</h3>
            <div class="swiper mySwiperbrand">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/img/brand/20210425_15521619355152_Mango.webp"
                             alt="brand-image">
                    </div>
                    <div class="swiper-slide"><img src="assets/img/brand/logo.png" alt="brand-image"></div>
                    <div class="swiper-slide"><img src="assets/img/brand/nike.webp" alt="brand-image"></div>
                    <div class="swiper-slide"><img src="assets/img/brand/puma.webp" alt="brand-image"></div>
                    <div class="swiper-slide">
                        <img src="assets/img/brand/Zara-logо-768x432.png" alt="brand-image">
                    </div>

                </div>
            </div>
        </div>
    </section>


</main>
<!-- end Main Area -->
