* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#navbar-area {
  background-color: #F4F4F4;
}
#navbar-area .container .logo {
  margin-left: 20px;
  margin-right: 40px;
}
#navbar-area .container .nav-center li {
  margin-left: 20px;
  font-size: 22px;
}
#navbar-area .container .nav-center li a {
  color: #171700;
}
#navbar-area .container .nav-center li a:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .search-icon {
  position: relative;
  display: flex;
  align-items: center;
}
#navbar-area .container .search-icon input {
  width: 180px;
  height: 37px;
  right: 0;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #010A44;
  position: absolute;
  padding-left: 10px;
  background-color: #F4F4F4;
}
#navbar-area .container .search-icon a {
  position: absolute;
  right: 20px;
  color: black;
}
#navbar-area .container .search-icon a:hover {
  color: #65A3F2 !important;
  cursor: pointer;
}
#navbar-area .container .basket {
  cursor: pointer;
}
#navbar-area .container .basket i {
  font-size: 25px;
  color: black;
  margin-top: 13px;
}
#navbar-area .container .basket i:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .basket i sup {
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .heart {
  margin-left: 5px;
}
#navbar-area .container .heart i {
  font-size: 25px;
  color: black;
  margin-top: 13px;
}
#navbar-area .container .heart i:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .heart i sup {
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
#navbar-area .container .dropdown:hover .dropdown-content {
  display: block;
}
#navbar-area .container .dropdown .dropbtn {
  color: rgb(84, 85, 93);
  padding: 10px;
  font-size: 15px;
  height: 39px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #65A3F2;
  background-color: #F4F4F4;
}
#navbar-area .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 100px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#navbar-area .container .dropdown .dropdown-content a {
  color: black;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
#navbar-area .container .dropdown .dropdown-content a:hover {
  background-color: #65A3F2;
}

@media (max-width: 1200px) {
  #navbar-area .search-icon input {
    width: 100px !important;
  }
  #navbar-area .search-icon i {
    font-size: small;
    margin-right: -10px;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  #navbar-area {
    position: relative;
  }
  #navbar-area .search-icon {
    float: left;
    margin-left: 120px;
  }
  #navbar-area .search-icon input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 30px !important;
  }
  #navbar-area .basket {
    margin-top: 15px;
    margin-left: 20px;
  }
  #navbar-area .heart i {
    margin-left: 14px;
  }
}
#login {
  padding-top: 6%;
  padding-bottom: 6%;
}
#login .login-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .login-area .login {
  position: relative;
  right: 50px;
  top: 15%;
  background: white;
  width: 50%;
  height: 345px;
  display: flex;
  flex-direction: column;
  padding: 22px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#login .login-area .login label {
  margin: 20px 0;
  height: 30px;
  position: relative;
  display: inline-block;
}
#login .login-area .login label span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}
#login .login-area .login label input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid;
  outline: none;
}
#login .login-area .login label input:focus {
  border-bottom: 2px solid #283593;
}
#login .login-area .login label input:focus + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-16px);
  color: #283593;
}
#login .login-area .login label input:not(:-moz-placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
#login .login-area .login label input:not(:-ms-input-placeholder) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
#login .login-area .login label input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}
#login .login-area .login #sign-in {
  background-color: #2F7DFC;
  padding: 7px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: 0.5s;
  position: absolute;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
#login .login-area .login #sign-in:hover {
  background-color: rgb(218, 10, 10);
  color: black;
}
#login .login-area .login .forgot {
  margin-top: 15px;
  font-size: 18px;
}
#login .login-area .login .forgot input {
  transform: scale(1.5);
  margin-right: 10px;
}
#login .login-area .login .forgot a {
  color: #283593;
  text-decoration: none;
  float: right;
}
#login .login-area .login .forgot a:hover {
  color: rgb(218, 10, 10);
}
#login .login-area .login .sign-in-hov {
  color: #283593;
  text-decoration: none;
}
#login .login-area .login .sign-in-hov:hover {
  color: rgb(218, 10, 10);
}

#footer-area {
  background-color: #000000;
  margin-top: 50px;
}
#footer-area .container .footer-side {
  margin-top: 90px;
}
#footer-area .container .footer-side .footer-info {
  margin-top: 15px;
}
#footer-area .container .footer-side .footer-info h1 {
  color: white;
}
#footer-area .container .footer-side .footer-info ul {
  padding-left: 0%;
}
#footer-area .container .footer-side .footer-info ul li {
  list-style: none;
  margin-top: 12px;
}
#footer-area .container .footer-side .footer-info ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#footer-area .container .footer-side .footer-info ul li a:hover {
  color: #007bff;
}
#footer-area .container .footer-side .footer-info .footer-logo img {
  margin-top: 14px;
}
#footer-area .container .footer-side .footer-info .footer-logo p {
  margin-top: 25px;
  color: white;
}
#footer-area .container .footer-side .footer-info .footer-logo p:hover {
  color: #007bff;
}
#footer-area .container .footer-side .footer-info .social ul {
  display: flex;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon {
  width: 40px;
  height: 40px;
  background-color: #1A1A1A;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  margin-left: 8px;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon:hover {
  background-color: #fff;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon:hover i {
  color: #007bff;
}
#footer-area .container .line {
  width: 95%;
  border: 0.5px solid gray;
  margin-top: 70px;
  opacity: 0.5;
}
#footer-area .container .copyright {
  margin-top: 15px;
  text-align: center;
  color: white;
}

@media (max-width: 1116) {
  #footer-area {
    background-color: #000000;
    width: 100%;
    height: 100vh;
  }
  #footer-area .container .footer-info {
    width: 100%;
    background-color: #000000;
  }
}/*# sourceMappingURL=login.css.map */