* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#navbar-area {
  background-color: #F4F4F4;
}
#navbar-area .container .logo {
  margin-left: 20px;
  margin-right: 40px;
}
#navbar-area .container .nav-center li {
  margin-left: 35px;
  font-size: 22px;
}
#navbar-area .container .nav-center li a {
  color: #171700;
}
#navbar-area .container .nav-center li a:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .search-box {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 40px;
}
#navbar-area .container .search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
#navbar-area .container .search-box:hover .search-btn {
  background-color: #fff;
}
#navbar-area .container .search-box .search-btn {
  color: #2879FB;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
#navbar-area .container .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}
#navbar-area .container .basket {
  cursor: pointer;
}
#navbar-area .container .basket i {
  font-size: 25px;
  color: #171700;
  margin-top: 13px;
}
#navbar-area .container .basket i:hover {
  color: #ff2020 !important;
}
#navbar-area .container .basket i sup {
  background-color: #65A3F2;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .heart {
  margin-left: 5px;
}
#navbar-area .container .heart i {
  font-size: 25px;
  color: #171700;
  margin-top: 13px;
}
#navbar-area .container .heart i:hover {
  color: #ff2020 !important;
}
#navbar-area .container .heart i:hover sup {
  background-color: #65A3F2;
}
#navbar-area .container .heart i sup {
  background-color: #65A3F2;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  margin-left: 5%;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .dropdown {
  margin-left: 20px;
  margin-right: 20px;
}
#navbar-area .container .dropdown:hover .dropdown-content {
  display: block;
}
#navbar-area .container .dropdown .dropbtn {
  color: rgb(84, 85, 93);
  padding: 10px;
  font-size: 15px;
  height: 39px;
  border: none;
  cursor: pointer;
  background-color: #F4F4F4;
}
#navbar-area .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 100px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-left: 5px;
}
#navbar-area .container .dropdown .dropdown-content a {
  color: black;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
#navbar-area .container .dropdown .dropdown-content a:hover {
  background-color: #65A3F2;
}

@media (max-width: 1400px) {
  #navbar-area .nav-center li {
    margin-left: 20px !important;
    font-size: 22px;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 1200px) {
  #navbar-area .logo {
    margin-left: 0px !important;
  }
  #navbar-area .nav-center li {
    margin-left: 20px;
    font-size: 22px;
  }
  #navbar-area .search-box {
    position: absolute;
    left: 69% !important;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  #navbar-area .logo {
    margin-left: 0px !important;
  }
  #navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #navbar-area .search-box {
    position: absolute;
    top: 50%;
    left: 66% !important;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 0px !important;
  }
  #navbar-area .basket {
    margin-top: 4px;
    margin-left: 16px;
  }
  #navbar-area .heart i {
    margin-left: 0 !important;
  }
}
@media (max-width: 991px) {
  #navbar-area .logo {
    margin-left: 0px !important;
  }
  #navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #navbar-area .search-box {
    top: 65% !important;
    left: 10% !important;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 50px !important;
    margin-left: 5px !important;
  }
  #navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #navbar-area .heart i {
    margin-left: 10px !important;
  }
}
@media (max-width: 768px) {
  #navbar-area .search-box {
    top: 65% !important;
    left: 15% !important;
  }
  #navbar-area .search-box input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 55px !important;
    margin-left: 5px !important;
  }
  #navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #navbar-area .heart i {
    margin-left: 10px !important;
  }
}
.visibl {
  visibility: hidden;
}

#scrol-navbar-area {
  background-color: #F4F4F4;
  position: fixed;
  z-index: 5;
  width: 100%;
}
#scrol-navbar-area .container .scrol-logo {
  margin-left: 20px;
  margin-right: 40px;
}
#scrol-navbar-area .container .nav-center li {
  margin-left: 35px;
  font-size: 22px;
}
#scrol-navbar-area .container .nav-center li a {
  color: #171700;
}
#scrol-navbar-area .container .nav-center li a:hover {
  color: #65A3F2 !important;
}
#scrol-navbar-area .container .search-box {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 40px;
}
#scrol-navbar-area .container .search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}
#scrol-navbar-area .container .search-box:hover .search-btn {
  background-color: #fff;
}
#scrol-navbar-area .container .search-box .search-btn {
  color: #2879FB;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
#scrol-navbar-area .container .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0;
}
#scrol-navbar-area .container .basket {
  cursor: pointer;
}
#scrol-navbar-area .container .basket i {
  font-size: 25px;
  color: #171700;
  margin-top: 13px;
}
#scrol-navbar-area .container .basket i:hover {
  color: #ff2020 !important;
}
#scrol-navbar-area .container .basket i sup {
  background-color: #65A3F2;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#scrol-navbar-area .container .heart {
  margin-left: 5px;
}
#scrol-navbar-area .container .heart i {
  font-size: 25px;
  color: #171700;
  margin-top: 13px;
}
#scrol-navbar-area .container .heart i:hover {
  color: #ff2020 !important;
}
#scrol-navbar-area .container .heart i sup {
  background-color: #65A3F2;
  color: rgb(49, 75, 99) !important;
  padding: 5px;
  margin-left: 5%;
  border-radius: 50%;
  font-size: small;
  top: -20px;
  right: 5px;
}
#scrol-navbar-area .container .dropdown {
  margin-left: 20px;
  margin-right: 20px;
}
#scrol-navbar-area .container .dropdown:hover .dropdown-content {
  display: block;
}
#scrol-navbar-area .container .dropdown .dropbtn {
  color: rgb(84, 85, 93);
  padding: 10px;
  font-size: 15px;
  height: 39px;
  border: none;
  cursor: pointer;
  background-color: #F4F4F4;
}
#scrol-navbar-area .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 100px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-left: 5px;
}
#scrol-navbar-area .container .dropdown .dropdown-content a {
  color: black;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
#scrol-navbar-area .container .dropdown .dropdown-content a:hover {
  background-color: #65A3F2;
}

@media (max-width: 1400px) {
  #scrol-navbar-area .nav-center li {
    margin-left: 20px !important;
    font-size: 22px;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .scrol-logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 1200px) {
  #scrol-navbar-area .scrol-logo {
    margin-left: 0px !important;
  }
  #scrol-navbar-area .nav-center li {
    margin-left: 20px;
    font-size: 22px;
  }
  #scrol-navbar-area .search-box {
    position: absolute;
    left: 69% !important;
  }
  #scrol-navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  #scrol-navbar-area .scrol-logo {
    margin-left: 0px !important;
  }
  #scrol-navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #scrol-navbar-area .search-box {
    position: absolute;
    top: 50%;
    left: 66% !important;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .dropdown {
    margin-top: 0px !important;
  }
  #scrol-navbar-area .basket {
    margin-top: 4px;
    margin-left: 16px;
  }
  #scrol-navbar-area .heart i {
    margin-left: 0 !important;
  }
}
@media (max-width: 991px) {
  #scrol-navbar-area .scrol-logo {
    margin-left: 0px !important;
  }
  #scrol-navbar-area .nav-center li {
    margin-left: 15px !important;
    font-size: 20px;
  }
  #scrol-navbar-area .search-box {
    top: 65% !important;
    left: 10% !important;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .dropdown {
    margin-top: 50px !important;
    margin-left: 5px !important;
  }
  #scrol-navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #scrol-navbar-area .heart i {
    margin-left: 10px !important;
  }
}
@media (max-width: 768px) {
  #scrol-navbar-area .search-box {
    top: 65% !important;
    left: 15% !important;
  }
  #scrol-navbar-area .search-box input {
    width: 100px !important;
  }
  #scrol-navbar-area .dropdown {
    margin-top: 55px !important;
    margin-left: 5px !important;
  }
  #scrol-navbar-area .basket {
    margin-top: 14px;
    margin-left: 16px;
  }
  #scrol-navbar-area .heart i {
    margin-left: 10px !important;
  }
}
#product-area .row {
  --bs-gutter-y: 1.5rem;
}
#product-area .heart-active {
  color: #ff2020 !important;
}
#product-area .header-pr h3 {
  text-align: center;
  margin-top: 50px;
  color: #171700;
  padding: 15px;
  border-radius: 5px;
}
#product-area .filter-main {
  width: 100%;
  border-radius: 3px;
  color: black;
  border: 0.2px solid whitesmoke;
  background-color: white;
}
#product-area .filter-main .filter-text {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8F0F2;
  padding-top: 10px;
}
#product-area .filter-main .filter-text h3 {
  font-size: 21px;
}
#product-area .filter-main .filter {
  background-color: #FFFFFF;
  border-radius: 5px;
  line-height: 30px;
}
#product-area .filter-main .filter h5 {
  text-align: center;
  padding: 10px;
}
#product-area .filter-main .filter form input {
  width: 14px;
  height: 14px;
  margin-left: 10px;
}
#product-area .filter-main .filter form label {
  margin-left: 8px;
}
#product-area .main-range {
  width: 100%;
  height: 230px;
  border-radius: 3px;
  color: black;
  border: 0.2px solid whitesmoke;
  background-color: white;
  margin-top: 30px;
  position: relative;
}
#product-area .main-range .range-text {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8F0F2;
  padding-top: 10px;
}
#product-area .main-range .range-text h3 {
  font-size: 21px;
}
#product-area .main-range .input-price {
  width: 100%;
  display: flex;
}
#product-area .main-range .input-price .input-area {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
#product-area .main-range .input-price .input-area span {
  margin-left: 5px;
}
#product-area .main-range .input-price .input-area input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border: 1px solid darkgray;
  -moz-appearance: textfield;
}
#product-area .main-range .input-price .input-area input[type=number]::-webkit-outer-spin-button, #product-area .main-range .input-price .input-area input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#product-area .main-range .input-price .separator {
  width: 130px;
  font-size: 19px;
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
#product-area .main-range .range {
  position: relative;
  height: 5px;
  border-radius: 5px;
  margin-top: 10%;
  background: #ddd;
}
#product-area .main-range .range .progress {
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  right: 5%;
  background: #FF3368;
}
#product-area .main-range .range-input {
  position: relative;
}
#product-area .main-range .range-input input {
  width: 100%;
  position: absolute;
  top: -5px;
  height: 5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}
#product-area .main-range .range-input input[type=range]::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #FF3368;
  pointer-events: auto;
  -webkit-appearance: none;
}
#product-area .main-range .range-input input[type=range]::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 50%;
  background: green;
  pointer-events: auto;
  -moz-appearance: none;
}
#product-area .category .tab-active {
  color: #2F7DFC !important;
}
#product-area .category .my-btn {
  display: inline-block;
  position: relative;
  color: black;
  border: none;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 20px;
  padding: 1px 15px;
  transition: 0.5s;
}
#product-area .category .my-btn:hover {
  border-radius: 3px;
  color: #2F7DFC;
  transition: 0.5s;
}
#product-area .card {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
}
#product-area .card .imagesBx {
  position: relative;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
#product-area .card .imagesBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.7s ease-in-out;
}
#product-area .card .imagesBx .icon-shop {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 5%;
  position: absolute;
  left: 0%;
  top: 0%;
}
#product-area .card .imagesBx .icon-shop .detail {
  text-decoration: none;
}
#product-area .card .imagesBx .icon-shop li {
  list-style: none;
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-left: 80%;
  border-radius: 7px;
  transition: 0.9s;
  transition: transform 0.5s;
  transform: translateX(60px);
  cursor: pointer;
}
#product-area .card .imagesBx .icon-shop li i {
  font-size: 28px;
  color: black;
  transition: 0.5s;
}
#product-area .card .imagesBx .icon-shop li span {
  position: absolute;
  right: 66px;
  margin-top: 28px;
  transform: translateY(-50%) translateX(-20px);
  white-space: nowrap;
  padding: 4px 6px;
  background-color: #fff;
  color: #000000;
  font-weight: 200;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}
#product-area .card .imagesBx .icon-shop li:hover {
  transition: 0.8s;
  background-color: #2F7DFC;
}
#product-area .card .imagesBx .icon-shop li:hover i {
  transition: 0.5s;
  color: #fff;
}
#product-area .card .imagesBx .icon-shop li:hover span {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
}
#product-area .card .imagesBx .icon-shop li:hover span ::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  transform: rotateY(-50%) rotate(45deg);
}
#product-area .card .productName {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
#product-area .card .productName h4 {
  font-size: 18px;
  color: rgb(152, 174, 199);
}
#product-area .card .productName a {
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  margin: 5px 0;
  font-weight: 400;
}
#product-area .card .productName a:hover {
  color: #2F7DFC;
}
#product-area .card .price {
  display: flex;
  margin-left: 30%;
  gap: 5px;
}
#product-area .card .price span {
  font-size: 18px;
  color: #171700;
  font-weight: 400;
  margin-left: 2px;
  opacity: 0.5;
}
#product-area .card:hover .icon-shop li {
  transform: translateX(0px);
}
#product-area .card:hover .imagesBx img {
  transition: 0.7s;
  transform: scale(1.2);
}
#product-area .show-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
#product-area .show-more .my-button {
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #2F7DFC;
  color: white;
}

@media (max-width: 1400px) {
  #product-area .container .card .imagesBx .icon-shop li {
    transform: translateX(60px);
  }
  #product-area .container .card:hover .icon-shop a li {
    transform: translateX(-10px);
  }
}
@media (max-width: 1200px) {
  #product-area .container .card .imagesBx .icon-shop li {
    transform: translateX(60px);
  }
  #product-area .container .card:hover .icon-shop a li {
    transform: translateX(-15px);
  }
}
@media (max-width: 992px) {
  #product-area .container .category .my-btn {
    padding: 1px 8px;
  }
}
@media (max-width: 768px) {
  #product-area .container .card .imagesBx .icon-shop li {
    transform: translateX(105px);
  }
  #product-area .container .card:hover .icon-shop a li {
    transform: translateX(35px);
  }
}
@media (max-width: 517px) {
  #product-area .container .category .my-btn {
    padding: 1px 6px;
  }
}
#service {
  margin-top: 70px;
}
#service .container .cards h3 {
  margin-top: 35px;
}

@media (max-width: 768px) {
  #service .container .cards {
    margin-left: 5%;
  }
  #service .container .cards img {
    width: 135px;
  }
  #service .container .cards h3 {
    margin-top: 16px;
  }
  #service .container .cards p {
    font-size: 26px;
  }
}
#instagram-photo {
  margin-top: 50px;
}
#instagram-photo .container .img-opacity {
  width: 100%;
  display: flex;
  position: relative;
  cursor: pointer;
}
#instagram-photo .container .img-opacity .social {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 0%;
  display: none;
}
#instagram-photo .container .img-opacity .social a i {
  font-size: 50px;
  color: #fff;
}
#instagram-photo .container .img-opacity .owerlay {
  visibility: hidden;
  width: 306px;
  height: 306px;
  position: absolute;
  background-color: #007bff;
  opacity: 0.6;
}
#instagram-photo .container .img-opacity a i {
  margin-top: 150px;
}
#instagram-photo .container .img-opacity:hover .owerlay {
  visibility: visible;
  opacity: 0.4s;
  z-index: 2;
  transition: 0.7s;
}
#instagram-photo .container .img-opacity:hover .social {
  display: block;
  z-index: 3;
  transition: 0.7s;
}
#instagram-photo .container .img-opacity img {
  width: 100%;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  #instagram-photo .container .img-opacity img {
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 12px;
  }
  #instagram-photo .container .img-opacity .owerlay {
    width: 260px;
    height: 261px;
    border-radius: 10px;
    margin-left: 13px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #instagram-photo .container .img-opacity img {
    margin-top: 15px;
    border-radius: 10px;
  }
  #instagram-photo .container .img-opacity .owerlay {
    width: 217px;
    height: 217px;
    border-radius: 10px;
    margin-top: 15px;
  }
  #instagram-photo .container .img-opacity .social {
    margin-left: 4%;
    margin-top: -45px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  #instagram-photo .container .img-opacity {
    width: 330px;
    margin-left: 0px;
  }
  #instagram-photo .container .img-opacity img {
    margin-top: 15px;
    border-radius: 10px;
  }
  #instagram-photo .container .img-opacity .owerlay {
    width: 331px;
    height: 330px;
    border-radius: 10px;
    margin-top: 15px;
  }
  #instagram-photo .container .img-opacity .social {
    margin-left: 4%;
  }
}
@media (max-width: 766px) {
  #instagram-photo .container .img-opacity {
    width: 330px;
    margin-left: 25px;
  }
  #instagram-photo .container .img-opacity img {
    margin-top: 15px;
    border-radius: 10px;
  }
  #instagram-photo .container .img-opacity .owerlay {
    width: 331px;
    height: 330px;
    border-radius: 10px;
    margin-top: 15px;
  }
  #instagram-photo .container .img-opacity .social {
    margin-left: 4%;
  }
}
#footer-area {
  background-color: #000000;
  margin-top: 50px;
}
#footer-area .container .footer-side {
  margin-top: 90px;
}
#footer-area .container .footer-side .footer-info {
  margin-top: 15px;
}
#footer-area .container .footer-side .footer-info h1 {
  font-size: 30px;
  color: white;
}
#footer-area .container .footer-side .footer-info ul {
  padding-left: 0%;
}
#footer-area .container .footer-side .footer-info ul li {
  list-style: none;
  margin-top: 12px;
}
#footer-area .container .footer-side .footer-info ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#footer-area .container .footer-side .footer-info ul li a:hover {
  color: #007bff;
}
#footer-area .container .footer-side .footer-info .footer-logo img {
  margin-top: 14px;
}
#footer-area .container .footer-side .footer-info .footer-logo p {
  margin-top: 25px;
  color: white;
}
#footer-area .container .footer-side .footer-info .footer-logo p:hover {
  color: #007bff;
}
#footer-area .container .footer-side .footer-info .social ul {
  display: flex;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon {
  width: 40px;
  height: 40px;
  background-color: #1A1A1A;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  margin-left: 8px;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon:hover {
  background-color: #fff;
}
#footer-area .container .footer-side .footer-info .social ul .social-icon:hover i {
  color: #007bff;
}
#footer-area .container .line {
  width: 95%;
  border: 0.5px solid gray;
  margin-top: 70px;
  opacity: 0.5;
}
#footer-area .container .copyright {
  margin-top: 15px;
  text-align: center;
  color: white;
}

@media (max-width: 1116) {
  #footer-area {
    background-color: #000000;
    width: 100%;
    height: 100vh;
  }
  #footer-area .container .footer-info {
    width: 100%;
    background-color: #000000;
  }
}/*# sourceMappingURL=shop.css.map */